<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mayikt.pay.dao.ChannelDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mayikt.pay.entity.ChannelEntity">
        <id column="ID" property="id" />
        <result column="CHANNEL_NAME" property="channelName" />
        <result column="CHANNEL_ID" property="channelId" />
        <result column="MERCHANT_ID" property="merchantId" />
        <result column="SYNC_URL" property="syncUrl" />
        <result column="ASYN_URL" property="asynUrl" />
        <result column="PUBLIC_KEY" property="publicKey" />
        <result column="PRIVATE_KEY" property="privateKey" />
        <result column="CHANNEL_STATE" property="channelState" />
        <result column="REVISION" property="revision" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_BY" property="updatedBy" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="CLASS_ADDRES" property="classAddres" />
    </resultMap>

</mapper>
